// Bucle
@for $i from 1 through 5 {
	.formulario-#{$i} {
	  margin-top: 20px * $i;
	}
  }
.contactenos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 150px;
  }
  
  #contactenoS {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	@include mediaquery-mobile() {
	  overflow: hidden;
	}
  }
  .fomrucontact{
	@include mediaquery-mobile() {
	text-align: center;
	}
  }
  .mb-4{
	text-align: center;
		padding:9px ;
		font-size: 19px;
	@include mediaquery-mobile() {
		text-align: center;
		padding:9px ;
		font-size: 19px;
	}
  }
  .accordion{
	width: 500px;
	@include mediaquery-mobile() {
		width: 300px;
	}
  }
  .formulario {
	display: flex;
	flex-direction: column;
	width: 20%;
	@include mediaquery-mobile() {
	  width: 100%;
	}
  }
  
  .text,
  .password,
  .email,
  .file {
	margin: 2%;
  }
  
  .email {
	padding: 8%;
  }
  
  #mapaS {
	@include mediaquery-mobile() {
		width: 200%;
		height: 900%;
			 
	
	}
  }
  
  .numero {
	margin-left: 34%;
	@include mediaquery-mobile() {
		margin-left: 5%;
	}
  }
  
  .map {
	padding: 12px;
	@include mediaquery-mobile() {
	width: 350px;
	height: 400px;
	}
  }
  
  .logowpp {
	width: 60px;
	height: 60px;
	padding: 10px;
	float: left;
	}
  
  
  .numerocontacto {
	margin-right: 12%;
	display: block;
	padding: 3%;
	
	
  }
  
 