.imglogo{
  @include mediaquery-mobile(){
  height: 64px;
width: 64px;
  }
}

.text-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 150px;
    margin: 29px;
    @include mediaquery-mobile(){
      margin: 29px;
     
      
    }
  }
  
  .index-dos {
    font-size: 45px;
    text-transform: uppercase;
    padding: 12px;
    @include mediaquery-mobile(){
      display: grid;
		font-size: 30px;
		text-transform: uppercase;
		padding: 10px;
		margin: 30px;
    }
  }
  
  .empresa-familiar {
    padding: 12px;
  }
  
  .amortiguador {
    padding: 12px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 1300px;
    @include mediaquery-mobile(){
      margin-left: 9%;
      width: 240px;
      height: 200px;
    }
  }
