/* Error: Undefined mixin.
 *    ,
 * 10 | /     @include mediaquery-mobile(){
 * 11 | |         margin: 9%;
 * 12 | |         overflow-x: hidden;
 * 13 | |         width: 69%;
 * 14 | |         padding: 0%;
 * 15 | |         margin-left: 4%;
 * 16 | \       }
 *    '
 *   scss\paginas.scss\marcas.scss 10:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502  \250c      @include mediaquery-mobile(){\a 11 \2502  \2502          margin: 9%;\a 12 \2502  \2502          overflow-x: hidden;\a 13 \2502  \2502          width: 69%;\a 14 \2502  \2502          padding: 0%;\a 15 \2502  \2502          margin-left: 4%;\a 16 \2502  \2514        }\a    \2575 \a   scss\\paginas.scss\\marcas.scss 10:5  root stylesheet";
}
