footer{
    color: $color-letra;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px ;
    
   
}
.find{
    @include mediaquery-mobile(){
    font-size: 14px;
    margin: 0px ;
    }
}
