*{
    margin: 0%;
    padding: 0%;
}

@if $color-fondo == black {
  $color-letra: white;
}@else{
  $color-letra: black; 
}

body{
    background-color: black;
    color: $color-letra;
    overflow-x: hidden;
    
    
}

header {
    background-color: $color-primario;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    @include mediaquery-mobile(){
      background-color: $color-primario;
      width: 100vw;
      z-index: 99%;
      width: 100vw;
    }





   
  
  
    img {
      width: 100px;
    }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
  
      li {
        text-decoration: none;
        padding: 0px 12px;
  
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }

 